# Backend
backend/node_modules/
backend/.env
backend/uploads/

# Frontend
frontend/node_modules/
frontend/build/
frontend/crash.log

# Do not push
ANALYSIS.md

# Root
node_modules/
package-lock.json

# Documentation (not pushed)
New-Freatures/
Postman-testing/
